<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Admin - Manage Users</title>
		<style>
			table, th, td {
				border: 1px solid black;
				border-collapse: collapse;
			}
		</style>
	</head>
	<body>
		<h1 style="text-align:center">Manage Users</h1>
		<h3>Manage Admins</h3>
		<br>
		<table style="width:100%">
			<tr>
				<th>Full Name</th>
				<th>Username</th>
				<th colspan="2">Action</th>
			</tr>
			<tr>
				<td>Stuff 1</td>
				<td>user@syntelinc.com</td>
				<td><button>Edit</button></td>
				<td style="color:red"><button>Delete</button>*Admin deleted</td>
			</tr>
			<tr>
				<td>Foo Bar</td>
				<td>foo@syntelinc.com</td>
				<td><button>Edit</button></td>
				<td style="color:red"><button>Delete</button>*Admin deleted</td>
			</tr>
			<tr>
				<td>Example</td>
				<td>example@syntelinc.com</td>
				<td><button>Edit</button></td>
				<td style="color:red"><button>Delete</button>*Admin deleted</td>
			</tr>
			<tr>
				<td><a href="">Add New...</a></td>
			</tr>
		</table>
		<br>
		<h3>Manage Instructors</h3>
		<table style="width:100%">
			<tr>
				<th>Full Name</th>
				<th>Username</th>
				<th colspan="2">Action</th>
			</tr>
			<tr>
				<td>Stuff 1</td>
				<td>user@syntelinc.com</td>
				<td><button>Edit</button></td>
				<td style="color:red"><button>Delete</button>*Instructor deleted</td>
			</tr>
			<tr>
				<td>Foo Bar</td>
				<td>foo@syntelinc.com</td>
				<td><button>Edit</button></td>
				<td style="color:red"><button>Delete</button>*Instructor deleted</td>
			</tr>
			<tr>
				<td>Example</td>
				<td>example@syntelinc.com</td>
				<td><button>Edit</button></td>
				<td style="color:red"><button>Delete</button>*Instructor deleted</td>
			</tr>
			<tr>
				<td><a href="">Add New...</a></td>
			</tr>
	</body>
</html>